
body,
h1,
.axis,
.label,
.d3-legend text,
label {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}


div.header {
  width: 1000px;
  margin: auto;
}

div.help {
  width: 1000px;
  color: #2B2C30;
  font-size: 90%;
  text-align: left;
}
